html
  head
    link(href='//fonts.googleapis.com/css?family=Fira+Sans:300,400', rel='stylesheet', type='text/css')
    link(href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/base.css')
    block head
  body
    block body