html {
	padding: 0;
	margin: 0;
}

body {
	background: #DA474E;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.full-bleed {
	
}

.frame {
	width: 920px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}

.header {
	background: #fff;
	padding: 10px 0;
}

h1 {
	margin: 0;
}

h2 {
	font-size: 55px;
	line-height: 56px;
	color: #4F1213;
	margin: 55px 0 15px 0;
	font-weight: bolder;
}

.hero p {
	font-weight: bold;
	font-size: 20px;
	margin: 0 0 55px 0;
}

.cta {
	background: #fff;
	height: 100px;
}

#Field1 {
	height: 40px;
	width: 310px;
	padding: 0 10px;
	background: #E0E1E2;
	border-style: none;
	font-size: 23px;
	margin-top: 27px;
	color: #646464;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.button {		
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius: 20px;	
		
		height: 40px;
		width: 165px;
		background: #F4B237;
		margin: 0px auto;
		text-align: center;
		
		display:inline-block;
		color:000;
		font-size: 17px;
		line-height: 36px;
		font-weight: bold;
		text-decoration:none;
		border-style: none;
		position: relative;
		bottom: 2px;
		left: 8px;
		cursor: pointer;
}

.button:hover {
	-moz-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.16);
	box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.16);
}

.lady {
	position: absolute;
	bottom: 0px;
	right: 0px;
}



















